/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #d9d9d9;
    font-family: Arial, sans-serif;
}


header {
    background-color: #e6caa8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border: 3px solid navy;
}

header img {
    width: 80px;
}

.titulo h1 {
    color: darkgreen;
    font-size: 36px;
}


nav {
    background-color: #7fb3d5;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 30px;
    font-weight: bold;
    color: darkred;
}


.introducao {
    text-align: center;
    padding: 40px 100px;
}

.introducao h2 {
    margin-bottom: 20px;
}

.introducao p {
    color: purple;
    font-size: 18px;
    margin-bottom: 15px;
}


.livros {
    text-align: center;
    margin-top: 40px;
}

.imagens-livros {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.imagens-livros img {
    width: 180px;
}


.fei {
    text-align: center;
    margin-top: 50px;
}

.midia {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.video,
.mapa {
    width: 300px;
    height: 200px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contatos {
    text-align: center;
    margin-top: 50px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px dashed red;
}

th,
td {
    border: 1px solid gray;
    padding: 10px 20px;
}


footer {
    background-color: #e6caa8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin-top: 40px;
}

footer img {
    width: 60px;
}

footer p {
    font-family: "Comic Sans MS", cursive;
}