/* Reset básico */

/* COR DO FUNDO */
body {
    margin: 0;
    background-color: lightgray;
    font-family: Sans-Serif 20pt
}

/* topo */
.topo {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border: 3px solid darkblue;
    font: sans-serif 20pt
}

.titulo-principal {
    color: darkgreen;
    font-size: 40px;
    font: Sans-Serif 20pt
}

.logo-esq,
.logo-dir {
    height: 120px;
}

/* MENU */
.menu {
    background-color: lightskyblue;
    text-align: center;
    padding: 10px;
    font: Sans-Serif 20pt
}

.menu a {
    text-decoration: none;
    color: darkred;
    font-weight: bold;
    margin: 0 30px;
    font: Sans-Serif 20pt
}

/* CONTEÚDO */
.conteudo {
    text-align: center;
    padding: 30px 100px;
    font: Sans-Serif 20pt
}

.conteudo h2 {
    font-size: 28px;
    font: Sans-Serif 20pt
}

.conteudo p {
    color: indigo;
    font-size: 20px;
    margin-bottom: 20px;
    font: Sans-Serif 20pt
}

/* LIVROS */
.livros {
    text-align: center;
    padding: 5px;
    font: Sans-Serif 20pt
}

.imagens-livros {
    display: flex;
    justify-content: center;
    gap: 80px;
    font: Sans-Serif 20pt
}

.imagens-livros img {
    height: 200px;
    font: Sans-Serif 20pt
}

/* VÍDEO E MAPA */
.midia {
    text-align: center;
    padding: 40px;
    gap: 40px;
}

.videos-mapa {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 40px;
}

/* CONTATOS */
.contatos {
    color: black;
    text-align: center;
    padding: 30px;
    font: Sans-Serif 20pt
}

table {
    margin: auto;
    border-collapse: collapse;
    border: 3px dashed red;
}

th,
td {
    border: 1px solid red;
    padding: 10px 20px;

}

th {
    background-color: lightgray;
    font: red;
    color: red;
}

/* CONSULTA */
.consulta {
    
    color: darkred;
    background-color: yellow;
    width: 400px;
    margin: 30px auto;
    padding: 10px;
    gap: 40px;
    display: flex;
}

.links {
    color: black;
}

.sites {
    color: darkred;
}

/* RODAPÉ */
.rodape {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    font: "Comic Sans MS";
}